:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);

    --mobile-width: 375px;
    --desktop-width: 1440px;

    --fs-para: 14px;
    --fw-500: 500;
    --fw-700: 700;
    --ff-mont: 'Montserrat', sans-serif;
    --ff-fraunces: 'Fraunces', serif;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

body {
    background-color: var(--Cream);
}

.container {
    margin: 1em auto;
    width: var(--mobile-width);
    background-color: white;
}

.hero-img {
    width: var(--mobile-width);
}

.div {
    overflow: hidden;
    height: 250px;
}

.content {
    padding:1em 2.2em;
}

p {
    font-size: var(--fs-para);
    font-family: var(--ff-mont);
    color: var(--Dark-grayish-blue);
    padding: 1em 0;
}

h1 {
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-700);
    color: var(--Very-dark-blue);
    font-size: xx-large;
    line-height: 1em;
    margin-bottom: .7em;
}

.price {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

.discount-price {
    font-weight: var(--fw-700);
    font-family: var(--ff-fraunces);
    font-size: x-large;
    color: var(--Dark-cyan);
}

.actual-price {
    font-size: var(--fs-para);
    font-family: var(--ff-mont);
    text-decoration: line-through;
    color: var(--Dark-cyan);
}

.cta {
    background-color: var(--Dark-cyan);
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 1em;
}

.cta p {
    color: white;
    display: inline-block;
    margin: 0 5px;
}

.spaced {
    letter-spacing: 4px;
}

.focused {
    background-color: hsl(158, 36%, 17%);
}

@media (min-width: 50em) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 800px;
        border-radius: 10px;
        overflow: hidden;
    }

    .div {
        height: auto;
        overflow: hidden;
    }

    .content {
        padding-right: 6em;
    }
    p{
        margin:1em 0;
        line-height: 1.8rem;
    }
    .price {
        width: 70%;
    }
    .cta {
        margin-top: 2em;
    } 
}